 
  
  <section class="home-banner_mn">
    <div class="container">
     <div class="home-banner">
      <ul class="home-slide owl-carousel">
        <% if(sliders.length){  
              for(var i = 0;i < sliders.length;i++) {  %>
            <li><img src="<%=sliders[i].default_image%>" alt="banner" title="banner"></li>
       <% } } %>
      </ul> 
     </div>
    </div>
  </section>

  <section class="small-category_mn">
    <div class="container">
      <div class="small-categories">
        <ul>
           <% if(allCategory.length){  
              for(var i = 0;i < allCategory.length;i++) { 
              var delayi = i+2; %>
          <li class="wow fadeInDown" data-wow-delay="0.<%=delayi%>s">
            <a href="#">
            <figure>
              <img src="<%=allCategory[i].default_image%>" alt="Shop <%=allCategory[i].title%>" title="Shop <%=allCategory[i].title%>">
              <figcaption>
                <div class="sc-desc">
                  <h3>Shop <%=allCategory[i].title%></h3>
                  <h2>2020</h2>
                  <div class="explorelink">Explore <i class="fas fa-long-arrow-alt-right"></i></div> 
                </div>                
              </figcaption>             
            </figure>
            </a>  
          </li>
          <% }  } %>
                              
        </ul>
      </div>
    </div>
  </section>

  <section class="home-section-mn">
    <div class="container">
      <div class="home-section-inner">
        <div class="home-section-head wow fadeInDown">
          <h2>NEW ARRIVALS</h2>
          <em>New product of our store</em>
        </div>
      </div>

      <div class="product_grid home_newarrival">
        <ul class="newarrival-slider owl-carousel">
          <% if(newarrival.length){  
                            for(var i = 0;i < newarrival.length;i++) { %>
          <li>
            <article class="product-grid_artcile">
             <figure class="product-grid-figure">
                  <a class="product-grid-image-wrap" href="<%=nodeSiteUrl%>/products"><img src="<%=newarrival[i].default_image%>" alt="<%=newarrival[i].title%>" title="<%=newarrival[i].title%>"></a>
                   <figcaption class="product-grid-figcaption">                   
                            <div class="product-grid_floating-badges">                      
                              <span class="new badge">New</span>                            
                            </div>
                            <div class="product-grid_floating-icons">
                              <div class="wishlist_floating"><a href="javascript:void(0);"><i class="far fa-heart"></i></a></div>
                              <div class="addtocart_floating"><a href="#">Add to Cart</a></div>
                            </div>                  
                   </figcaption>
                </figure>
                <div class="product-grid_content">
                  <div class="title">
                    <h3><a href=""><%=newarrival[i].title%></a></h3>                     
                  </div>
                  <div class="product-grid_rating">
                    <div class="prodgrid_star">
                      <ul>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="far fa-star"></i></a></li>
                      </ul>
                    </div>
                    <div class="prodgrid-rating_count">(45)</div>
                  </div>
                  <div class="product-grid_price">
                    <% if(newarrival[i].discount > 0){%>
                    <span class="discounted-price">$<%=newarrival[i].discounted_price%></span>
                    <span class="main-price discounted">$<%=newarrival[i].price%></span>
                    <span class="yousave-price">$<%=newarrival[i].discount%>% Off</span>
                    <% } else { %>
                    <span class="discounted-price">$<%=newarrival[i].price%></span> 
                    <% } %>
                  </div>
                </div>
            </article>
          </li>
          <% }  } %>
                
        </ul>
      </div>

    </div>
  </section>

  <section class="home-special-mn">
    <div class="container">
      <div class="home-special">
        <ul>
          <% if(collectionCategory.length){  
              for(var i = 0;i < collectionCategory.length;i++) {  %>
          <li class="hsp_lookbook wow fadeInLeft">
           <div class="home-special_wrap hover15">
           <a href="#"> 
            <figure>
            <img src="<%=collectionCategory[i].default_image%>" alt="<%=collectionCategory[i].title%>" title="<%=collectionCategory[i].title%>">
            <figcaption>
             <div class="hsp_link">VIEW COLLECTIONS</div>
             <h3><%=collectionCategory[i].text%></h3>
             <!-- <p>your world of fashion in numbers</p>  --> 
            </figcaption>
            </figure>
            </a>
           </div>
          </li>
          <% break; } } %>
          <li class="hsp_saleprod wow fadeIn">
           <article class="product-grid_artcile">
            <% if(dealDay.length){  
              for(var i = 0;i < dealDay.length;i++) { %>

             <figure class="product-grid-figure">
                  <a class="product-grid-image-wrap" href="#"><img src="<%=featured[i].default_image%>" alt="<%=dealDay[i].title%>" title="<%=dealDay[i].title%>"></a>
                   <figcaption class="product-grid-figcaption">                   
                            <div class="product-grid_floating-badges">                      
                              <span class="sale badge">Sale</span>                            
                            </div>
                            <div class="product-grid_floating-icons">
                              <div class="wishlist_floating"><a href="javascript:void(0);"><i class="far fa-heart"></i></a></div>
                              <div class="addtocart_floating"><a href="#">Add to Cart</a></div>
                            </div>                  
                   </figcaption>
                </figure>
                
                <div class="product-grid_content">

                  <div class="countdown_mn">
                    <span id="future_date"></span>
                  </div>

                  <div class="title">
                    <h3><a href=""><%=dealDay[i].title%></a></h3>                     
                  </div>                  
                  <div class="product-grid_price">
                    <span class="discounted-price">$<%=dealDay[i].discounted_price%></span>
                    <span class="main-price discounted">$<%=dealDay[i].price%></span>
                  </div>
                </div>
                <script type="text/javascript">
                  dealtimer = '<%=dealDay[i].deal_end_time%>';
                </script>
                <% } } %>
            </article>            
          </li>

          <% if(collectionCategory.length){  
              for(var i = 1;i < collectionCategory.length;i++) {  %>

          <li class="hsp_collection wow fadeInRight">
            <div class="home-special_wrap hover15">
              <a href="#">  
                <figure>
                  <img src="<%=collectionCategory[i].default_image%>" alt="<%=collectionCategory[i].title%>" title="<%=collectionCategory[i].title%>">
                  <figcaption>
                    <div class="hsp_link">VIEW COLLECTIONS</div>
                    <h3><%=collectionCategory[i].text%></h3>
                    <div class="hsp_collection_btn"><span>Shop Now</span></div>  
                  </figcaption>
                </figure>
              </a>
            </div>           
          </li>
          <% } } %>
        </ul>
      </div>
    </div>
  </section>

    <section class="home-section-mn">
    <div class="container">
      <div class="home-section-inner">
        <div class="home-section-head wow fadeInDown">
          <h2>OUR PRODUCTS</h2>
          <em>Top view in the week</em>
        </div>
      </div> 
  
  <div id="horizontaltab">
    <ul class="resp-tabs-list">
      <li class="wow fadeInDown" data-wow-delay="0.1s"><a href="#featured">Featured</a></li>
      <li class="wow fadeInDown" data-wow-delay="0.3s"><a href="#bestseller">Bestseller</a></li>
      <li class="wow fadeInDown" data-wow-delay="0.6s"><a href="#sale">Sale</a></li>
      <li class="wow fadeInDown" data-wow-delay="0.8s"><a href="#toprate">Top Rate</a></li>
    </ul>

    <div class="resp-tabs-container">
      <div id="featured">
      
        <div class="product_grid home-our-prod">
          <ul> 
            
           <% if(featured.length){  
              for(var i = 0;i < featured.length;i++) { %>
          <li>
            <article class="product-grid_artcile">
             <figure class="product-grid-figure">
                  <a class="product-grid-image-wrap" href="#"><img src="<%=featured[i].default_image%>" alt="<%=featured[i].title%>" title="<%=featured[i].title%>"></a>
                   <figcaption class="product-grid-figcaption">                   
                            <div class="product-grid_floating-badges">                      
                              <span class="new badge">New</span>                            
                            </div>
                            <div class="product-grid_floating-icons">
                              <div class="wishlist_floating"><a href="javascript:void(0);"><i class="far fa-heart"></i></a></div>
                              <div class="addtocart_floating"><a href="#">Add to Cart</a></div>
                            </div>                  
                   </figcaption>
                </figure>
                <div class="product-grid_content">
                  <div class="title">
                    <h3><a href=""><%=featured[i].title%></a></h3>                     
                  </div>
                  <div class="product-grid_rating">
                    <div class="prodgrid_star">
                      <ul>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="far fa-star"></i></a></li>
                      </ul>
                    </div>
                    <div class="prodgrid-rating_count">(45)</div>
                  </div>
                  <div class="product-grid_price">
                    <% if(featured[i].discount > 0){%>
                    <span class="discounted-price">$<%=featured[i].discounted_price%></span>
                    <span class="main-price discounted">$<%=featured[i].price%></span>
                    <span class="yousave-price">$<%=featured[i].discount%>% Off</span>
                    <% } else { %>
                    <span class="discounted-price">$<%=featured[i].price%></span> 
                    <% } %>
                  </div>
                </div>
            </article>
          </li>
          <% }  } %>

          </ul>
        </div>
      </div>

      <div id="bestseller">
<div class="product_grid home-our-prod">
        <ul>

          <% if(bestseller.length){  
              for(var i = 0;i < bestseller.length;i++) { %>
          <li>
            <article class="product-grid_artcile">
             <figure class="product-grid-figure">
                  <a class="product-grid-image-wrap" href="#"><img src="<%=bestseller[i].default_image%>" alt="<%=bestseller[i].title%>" title="<%=bestseller[i].title%>"></a>
                   <figcaption class="product-grid-figcaption">                   
                            <div class="product-grid_floating-badges">                      
                              <span class="new badge">New</span>                            
                            </div>
                            <div class="product-grid_floating-icons">
                              <div class="wishlist_floating"><a href="javascript:void(0);"><i class="far fa-heart"></i></a></div>
                              <div class="addtocart_floating"><a href="#">Add to Cart</a></div>
                            </div>                  
                   </figcaption>
                </figure>
                <div class="product-grid_content">
                  <div class="title">
                    <h3><a href=""><%=bestseller[i].title%></a></h3>                     
                  </div>
                  <div class="product-grid_rating">
                    <div class="prodgrid_star">
                      <ul>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="far fa-star"></i></a></li>
                      </ul>
                    </div>
                    <div class="prodgrid-rating_count">(45)</div>
                  </div>
                  <div class="product-grid_price">
                    <% if(bestseller[i].discount > 0){%>
                    <span class="discounted-price">$<%=bestseller[i].discounted_price%></span>
                    <span class="main-price discounted">$<%=bestseller[i].price%></span>
                    <span class="yousave-price">$<%=bestseller[i].discount%>% Off</span>
                    <% } else { %>
                    <span class="discounted-price">$<%=bestseller[i].price%></span> 
                    <% } %>
                  </div>
                </div>
            </article>
          </li>
          <% }  } %>

        </ul>
      </div>        
      </div>
      <div id="sale">
<div class="product_grid home-our-prod">
        <ul>

          <% if(saleproduct.length){  
              for(var i = 0;i < saleproduct.length;i++) { %>
          <li>
            <article class="product-grid_artcile">
             <figure class="product-grid-figure">
                  <a class="product-grid-image-wrap" href="#"><img src="<%=saleproduct[i].default_image%>" alt="<%=saleproduct[i].title%>" title="<%=saleproduct[i].title%>"></a>
                   <figcaption class="product-grid-figcaption">                   
                            <div class="product-grid_floating-badges">                      
                              <span class="new badge">New</span>                            
                            </div>
                            <div class="product-grid_floating-icons">
                              <div class="wishlist_floating"><a href="javascript:void(0);"><i class="far fa-heart"></i></a></div>
                              <div class="addtocart_floating"><a href="#">Add to Cart</a></div>
                            </div>                  
                   </figcaption>
                </figure>
                <div class="product-grid_content">
                  <div class="title">
                    <h3><a href=""><%=saleproduct[i].title%></a></h3>                     
                  </div>
                  <div class="product-grid_rating">
                    <div class="prodgrid_star">
                      <ul>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="far fa-star"></i></a></li>
                      </ul>
                    </div>
                    <div class="prodgrid-rating_count">(45)</div>
                  </div>
                  <div class="product-grid_price">
                    <% if(saleproduct[i].discount > 0){%>
                    <span class="discounted-price">$<%=saleproduct[i].discounted_price%></span>
                    <span class="main-price discounted">$<%=saleproduct[i].price%></span>
                    <span class="yousave-price">$<%=saleproduct[i].discount%>% Off</span>
                    <% } else { %>
                    <span class="discounted-price">$<%=saleproduct[i].price%></span> 
                    <% } %>
                  </div>
                </div>
            </article>
          </li>
          <% }  } %>

        </ul>
      </div>        
      </div>
      <div id="toprate">
        <div class="product_grid home-our-prod">
        <ul>
          <% if(topratted.length){  
              for(var i = 0;i < topratted.length;i++) { %>
          <li>
            <article class="product-grid_artcile">
             <figure class="product-grid-figure">
                  <a class="product-grid-image-wrap" href="#"><img src="<%=topratted[i].default_image%>" alt="<%=topratted[i].title%>" title="<%=topratted[i].title%>"></a>
                   <figcaption class="product-grid-figcaption">                   
                            <div class="product-grid_floating-badges">                      
                              <span class="new badge">New</span>                            
                            </div>
                            <div class="product-grid_floating-icons">
                              <div class="wishlist_floating"><a href="javascript:void(0);"><i class="far fa-heart"></i></a></div>
                              <div class="addtocart_floating"><a href="#">Add to Cart</a></div>
                            </div>                  
                   </figcaption>
                </figure>
                <div class="product-grid_content">
                  <div class="title">
                    <h3><a href=""><%=topratted[i].title%></a></h3>                     
                  </div>
                  <div class="product-grid_rating">
                    <div class="prodgrid_star">
                      <ul>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="far fa-star"></i></a></li>
                      </ul>
                    </div>
                    <div class="prodgrid-rating_count">(45)</div>
                  </div>
                  <div class="product-grid_price">
                    <% if(topratted[i].discount > 0){%>
                    <span class="discounted-price">$<%=topratted[i].discounted_price%></span>
                    <span class="main-price discounted">$<%=topratted[i].price%></span>
                    <span class="yousave-price">$<%=topratted[i].discount%>% Off</span>
                    <% } else { %>
                    <span class="discounted-price">$<%=topratted[i].price%></span> 
                    <% } %>
                  </div>
                </div>
            </article>
          </li>
          <% }  } %>
        </ul>
      </div>
      </div>
    </div>

  </div>

    </div>
  </section>  

  <section class="home-section-mn">
    <div class="container">
      <div class="home-section-inner">
        <div class="home-section-head wow fadeInDown">
          <h2>LATEST FROM BLOG</h2>
          <em>The freshest and most exciting news</em>
        </div>
        <div class="homeblogs">
          <ul>
            <% if(homeBlog.length){  
              for(var i = 0;i < homeBlog.length;i++) { 
              var delayi = i+2; %>
            <li class="wow fadeIn" data-wow-delay="0.<%=delayi%>s">
             <div class="homeblogs_wrap hover15"> 
               <figure>
                <a href="#"><img src="<%=homeBlog[i].default_image%>" alt="blog" title="blog"></a>
               </figure>
               <div class="homeblog_content">
                <h4><a href="#"><%=homeBlog[i].title%></a></h4>
                <div class="homeblog_info">By <strong>Admin</strong> on <strong><%=homeBlog[i].default_date%></strong></div>
               </div> 
              </div>
            </li>
            <% } } %>
                                  
          </ul>
        </div>
      </div>      
    </div>
  </section>
  
  <section class="home-section-mn">  
    <div class="home-section-inner">
     <div class="container">
     <div class="home-section-head wow fadeInDown">
      <h2>@ FOLLOW US ON INSTAGRAM</h2>
     </div>
    </div>
    <div class="home-instagram">
      <ul class="instagram-slide owl-carousel">
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block2.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block3.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block4.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block5.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>                         
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block2.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block3.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block4.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>
       <li>
        <a href="#">
        <div class="insta-img">
          <img src="images/insta-block5.jpg" alt="instagram" title="instagram">
        </div>
        <div class="insta-hover">
          <div class="insta-hover-inner">
            <div class="insta-likes"><i class="far fa-heart"></i> 505</div>
            <div class="insta-comments"><i class="far fa-comments"></i> 20</div>
          </div>
        </div>
        </a>  
       </li>           
      </ul>
    </div>    
   </div>
  </section>  

  <section class="hbtm-info-mn">
    <div class="container">
      <div class="hbtm-info-wrap">
        <ul>
          <li class="wow fadeIn" data-wow-delay="0.1s">
           <div class="infowrap_row">
            <div class="left-colmn">
              <i class="fas fa-truck"></i>
            </div>
            <div class="right-colmn">
              <h5>FREE SHIPPING</h5>
              <p>Free shipping on all US order or order above $200</p>
            </div>
           </div> 
          </li>
          <li class="wow fadeIn" data-wow-delay="0.3s">
           <div class="infowrap_row">
            <div class="left-colmn">
              <i class="fas fa-headset"></i>
            </div>
            <div class="right-colmn">
              <h5>SUPPORT 24/7</h5>
              <p>Contact us 24 hours a day, 7 days a week</p>
            </div>
           </div> 
          </li> 
          <li class="wow fadeIn" data-wow-delay="0.5s">
           <div class="infowrap_row">
            <div class="left-colmn">
              <i class="fas fa-undo-alt"></i>
            </div>
            <div class="right-colmn">
              <h5>30 DAYS RETURN</h5>
              <p>Simply return it within 30 days for an exchange.</p>
            </div>
           </div> 
          </li>
          <li class="wow fadeIn" data-wow-delay="0.7s">
           <div class="infowrap_row">
            <div class="left-colmn">
              <i class="far fa-credit-card"></i>
            </div>
            <div class="right-colmn">
              <h5>100% PAYMENT SECURE</h5>
              <p>We ensure secure payment with PEV</p>
            </div>
           </div> 
          </li>                           
        </ul>
      </div>
    </div>
  </section>
