<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Ecommerce | React JS</title>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">    
  <link rel="stylesheet" href="<%=nodeSiteUrl%>/css/stylesheet.css"/>
  <link rel="stylesheet" href="<%=nodeSiteUrl%>/css/mediaquery.css"/>
  <link rel="stylesheet" href="<%=nodeSiteUrl%>/css/animate.min.css"/>
  <link rel="stylesheet" href="<%=nodeSiteUrl%>/css/owl.carousel.min.css"/>
  <link rel="stylesheet" href="<%=nodeSiteUrl%>/css/fontawesome-all-min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="<%=nodeSiteUrl%>/css/easy-responsive-tabs.css"/>
  <link rel="stylesheet" href="<%=nodeSiteUrl%>/css/mmenu.css"/>
  <script type="text/javascript">
    var dealtimer = '';
  </script>
</head>

<body>

  <div class="wrapper">
  <header class="header">
    <div class="htop-bar">
      <div class="container-lg">
        <div class="htop-bar-inner">
         <div class="left-colmn">         
          <div class="hcontact-info">
            <ul>
              <li class="wow fadeInDown" data-wow-delay="0.1s"><a href="tel:+2123456789"><i class="fas fa-phone-alt"></i>+21 23456789</a></li>
              <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="mailto:store@domain.com"><i class="far fa-envelope"></i>store@domain.com</a></li>
            </ul>
          </div>
         </div>
         <div class="right-colmn">
          <div class="htop-sale-message wow fadeInDown" data-wow-delay="0.2s">Summer sale discount off <span>50%</span>! Shop Now</div>
         </div>
        </div>
      </div>
    </div>
    <div class="hmiddle">
     <div class="container-lg">
      <div class="hmiddle-inner">
       <div class="left-colmn">       
        <div class="hsocial-icon">
          <ul>
           <li class="wow fadeInUp" data-wow-delay="0.1s"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
           <li class="wow fadeInUp" data-wow-delay="0.2s"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
           <li class="wow fadeInUp" data-wow-delay="0.3s"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
       </div> 
       <div class="middle-colmn">
        <div class="logo"><a href="index.html"><img src="images/store-logo.png" alt="store.com" title="store.com"> </a></div>
       </div> 
       <div class="right-colmn">
        <div class="hcontent_icons">
          <ul>
           <li class="wow fadeInUp" data-wow-delay="0.1s"><a id="hsearch" href="javascript:;"><i class="fas fa-search"></i></a></li>
           <li class="h-account wow fadeInUp" data-wow-delay="0.2s"><a href="javascript:;"><i class="far fa-user-circle"></i></a>
            <div class="h-account_flyout">
              <ul>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Register</a></li>               
              </ul>
            </div>
           </li>
           <li class="wow fadeInUp" data-wow-delay="0.3s"><a href="javascript:;"><i class="far fa-heart"></i></a></li>
           <li class="hcartmn wow fadeInUp" data-wow-delay="0.4s">
             <a href="javascript:;">
              <div class="hcart-counter">0</div>
            <i class="fas fa-shopping-cart"></i>
             </a>
          </li>
          </ul>
        </div>
        <div class="hamburger-menu wow fadeInUp" data-wow-delay="0.5s"><a href="#my-menu"><i class="fas fa-bars"></i> <i class="fas fa-times"></i></a></div>
       </div> 
      </div>
     </div> 

    <div class="search-overlay">
      <button class="search-overlay_close-icon"><i class="fas fa-times"></i></button>
      <div class="search-overlay_content">
        <form class="space-mb--20">
          <input type="search" placeholder="Search Products...">
        </form>
      <div class="search-overlay_hint"># Hit enter to search</div>
      </div>
    </div>


    </div>
    <div class="head-bottom">
      <div class="container">
        <div class="head-bottom-inner">
          <nav class="desktop-navigation">
            <ul>
              <li><a href="index.html">Home</a></li>  
              <li><a href="#">Shop</a>
                <ul class="sub-menu sub-menu--mega sub-menu--mega--column-5">
                 <li class="sub-menu--mega__title">
                  <h2><a href="/">Home Group</a></h2>
                  <ul class="sub-menu--mega__list">
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                 </li>
                 <li class="sub-menu--mega__title">
                  <h2><a href="/">Home Group</a></h2>
                  <ul class="sub-menu--mega__list">
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                 </li>
                 <li class="sub-menu--mega__title">
                  <h2><a href="/">Home Group</a></h2>
                  <ul class="sub-menu--mega__list">
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                 </li>
                 <li class="sub-menu--mega__title">
                  <h2><a href="/">Home Group</a></h2>
                  <ul class="sub-menu--mega__list">
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                 </li>
                 <li class="sub-menu--mega__title">
                  <h2><a href="/">Home Group</a></h2>
                  <ul class="sub-menu--mega__list">
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                 </li>                                                  
                </ul>

              </li>
              <li><a href="#">Product</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="#">Elements</a></li>
              <li><a href="#">Accessories</a></li>  
              <li><a href="#">Sale</a></li>   
            </ul>
          </nav>
          <nav id="my-menu" style="display: none;">
            <ul>
              <li><a href="index.html">Home</a></li>  
              <li><a href="#">Shop</a>
                <ul>                 
                  <li><a href="#">Home Group 01</a>
                <ul>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                   </li>
                  <li><a href="#">Home Group 02</a>
                <ul>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                   </li>                                                              
                  <li><a href="#">Home Group 03</a>
                <ul>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                   </li>
                  <li><a href="#">Home Group 04</a>
                <ul>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                   </li>
                  <li><a href="#">Home Group 05</a>
                <ul>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li>
                   <li><a href="#">Sample Category</a></li> 
                  </ul>
                   </li>                                                                    
                </ul>
              </li>
              <li><a href="#">Product</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="#">Elements</a></li>
              <li><a href="#">Accessories</a></li>  
              <li><a href="#">Sale</a></li> 
              <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li> 
            </ul>           
          </nav>        
        </div>
      </div>
    </div>
  </header>